* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#input-container {
  display: flex;
  border: black 1px solid;
  max-width: 300px;
  flex-wrap: wrap;
  padding: 10px;
}

#input-container button {
  padding: 5px;
  margin-left: 5px;
}
